body{
font-family:sans-serif;
background:linear-gradient(135deg,#a18cd1,#fbc2eb);
text-align:center;
height:100vh;
margin:0;
display:flex;
justify-content:center;
align-items:center;
}

.box{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

button{
padding:12px 25px;
font-size:18px;
border:none;
background:#7b5cff;
color:white;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#5a3de0;
}